.detail-product {
    margin: 15rem 0 5rem 0;
  }
  
  .info-container {
    padding-left: 10rem;
    display: flex;
    align-items: center;
  }
  .info-img {
    max-width: 500px;
    animation: scale 3s infinite;
    border-radius: 20%;
    border: solid rgb(51, 67, 66) 0.7rem;
    box-shadow: 2px 5px 20px rgb(189, 189, 189);
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .product-info > li {
    margin: 10px 4rem;
    font-size: var(--text-size);
    color: var(--secondary-color);
    font-weight: bold;
  }
  .product-info > li > span {
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
  }
  .back {
    font-size: var(--text-size);
    color: white;
    display: flex;
    justify-content: center;
    width: 8rem;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-left: 7rem;
    background-color: transparent;
    box-shadow: 2px 5px 20px rgb(230, 230, 230);
  }
  
  @media screen and (max-width: 1200px) {
    .info-container {
      padding: 0;
    }
  }
  @media screen and (max-width: 900px) {
    .info-container {
      flex-direction: column;
    }
    .product-info > li {
      text-align: center;
    }
  }